/* .range{
    width: 100%;
    border-radius: 10px;
}


.range .field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 70px;
}

.range .sliderValue {
    position: relative;
    width: 100%;
}

.range .sliderValue span {
    position: absolute;
    height: 45px;
    width: 45px;
    font-weight: 500;
}

.range .sliderValue span::after {
    position: absolute;
    height: 45px;
    width: 45px;
    left: 50%;
    transform: translateX(-50%);
}

.range .field input::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    background: #fff;
    border: 2px solid #2196F3;
    border-radius: 50%;
}



.range .field .value{
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    color: #2196F3;
}



.range .field input {
    height: 6px;
    width: 100%;
    background: #ddd;
    border-radius: 15px;
    outline: none;
    border: none;
}

/* .slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
} */

.mat-slider-thumb {
    background: blue;
    border: 2px solid blue;
    
}